[user]
	name = Yann Defretin
	email = kinoute@gmail.com
[core]
    excludesfile = ~/.gitignore
    pager = delta --plus-color="#012800" --minus-color="#340001"
[interactive]
    diffFilter = delta --color-only
[github]
	user = kinoute
[color]
    ui = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = 11
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
